<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.patpatchpatrick.nflseasonsim">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>

        <provider
            android:name=".data.SeasonSimProvider"
            android:authorities="io.github.patpatchpatrick.nflseasonsim"
            android:exported="false" />

        <activity android:name=".EloValuesActivity" />
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".HomeScreen"
            android:theme="?normalActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".MatchPredictorActivity" />
        <activity android:name=".NextWeekMatchesActivity"></activity>
    </application>

</manifest>